<h1>User information</h1>
<hr>

<div class="row">
  <div class="col-4">
    <h3>Current user: {{ userId() }} </h3>
    <button (click)="loadUser( userId() - 1 )" class="btn btn-primary">
      Previous
    </button>
    &nbsp;
    <button (click)="loadUser( userId() + 1 )" class="btn btn-primary">Next</button>
  </div>

  <div
    *ngIf="currentUser()"
    class="col-8">
    <h3>User</h3>
    <p>Email: {{ currentUser()!.email }}</p>
    <p>Full Name: {{ nameAndLastNameUser() }}</p>
    <img [src]="currentUser()!.avatar" alt="Avatar" class="rounded">
  </div>

  <!-- If not exist -->
  <div
    *ngIf="!userWasFound()"
    class="col-8 text-danger">
    <h3>User not found</h3>
  </div>
</div>
